<div class="topnav">
    {% if request.get_full_path != "/" %}
        <a href="/" style="font-family: 'Ubuntu', sans-serif;">URL <span style="color: orange;">SNAP</span></a>
    {% endif %}

    {% if request.user.is_authenticated and request.get_full_path == "/" %}
        <a href="#">Settings</a>
    {% endif %}
    
    <div style="float: right;">
        
        {% if request.user.is_authenticated %}
            <a href="/local/history">History</a>
            <a href="/account/logout">{{request.user}} -- Logout</a>
        {% else %}
            <a href="/local/history">History</a>
            <a href="/account/login">Login</a>
        {% endif %}
    </div>
</div>